In [1]:
import os
import pandas as pd
from utils import stem

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/alena.ogloblina/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [19]:
PARENT_PATH = os.path.join("..")
DATASET_CSV = os.path.join(PARENT_PATH, "data", "data.csv")
RESULT_CSV = os.path.join(PARENT_PATH, "data", "prepared.csv")
MIN_TEXT_LEN = 2500

In [11]:
df = pd.read_csv(DATASET_CSV)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668258 entries, 0 to 668257
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           668258 non-null  int64
 1   title        668255 non-null  object
 2   author_id    668258 non-null  int64
 3   author_name  668258 non-null  object
 4   comments     668258 non-null  int64
 5   rating       668258 non-null  int64
 6   rating_full  668258 non-null  object
 7   date         668258 non-null  object
 8   tags         668258 non-null  object
 9   views        668258 non-null  int64
 10  saves        668258 non-null  int64
 11  text         663873 non-null  object
dtypes: int64(6), object(6)
memory usage: 61.2+ MB

In [13]:
df.head()

,id,title,author_id,author_name,comments,rating,rating_full,date,tags,views,saves,text
0,4442434,Китайская мудрость,1395543,MMaI,6,0,31:24,2016-09-01T07:20:41+03:00,"['[моё]', 'Семья', 'Брат', 'Младший брат', 'Му...",0,0,"Мой младший брат, когда ему было 6-7 лет. Си..."
1,4442433,Манифест читателя (Как читать классическую лит...,1413157,Tolstoknijnik,8,0,17:28,2016-09-01T07:19:33+03:00,"['Не мое', 'Чтение', 'Книги', 'Литература', 'Д...",0,1,"\nПисатель и критик соотносятся так же, как ..."
2,4442430,"Призываются айтишники и сисадмины, а так же вс...",220928,axellly,29,0,2:20,2016-09-01T07:15:17+03:00,"['Компьютер', 'Компьютерщики', 'Компьютерное ж...",0,1,"Привет всем пикабушникам, этим холодным 1-се..."
3,4442429,Батя может,773825,Vincher89,9,41,58:17,2016-09-01T07:14:56+03:00,"['Тролль', 'Школьники', 'Обязанности', 'Текст']",0,1,"Чтобы я не забыла вынести мешок с мусором, м..."
4,4442428,О новой системе рейтинга в Overwatch,742541,Nidere2,10,-83,14:97,2016-09-01T07:14:45+03:00,"['[моё]', 'Overwatch', 'Рейтинг', 'Наркомания'...",0,0,Решил я откаллиброваться на тестовом сервере...

In [14]:
df_prepare = df[["id", "title", "author_id", "date", "tags", "text", "rating"]].dropna()

In [15]:
df_prepare.head()

,id,title,author_id,date,tags,text,rating
0,4442434,Китайская мудрость,1395543,2016-09-01T07:20:41+03:00,"['[моё]', 'Семья', 'Брат', 'Младший брат', 'Му...","Мой младший брат, когда ему было 6-7 лет. Си...",0
1,4442433,Манифест читателя (Как читать классическую лит...,1413157,2016-09-01T07:19:33+03:00,"['Не мое', 'Чтение', 'Книги', 'Литература', 'Д...","\nПисатель и критик соотносятся так же, как ...",0
2,4442430,"Призываются айтишники и сисадмины, а так же вс...",220928,2016-09-01T07:15:17+03:00,"['Компьютер', 'Компьютерщики', 'Компьютерное ж...","Привет всем пикабушникам, этим холодным 1-се...",0
3,4442429,Батя может,773825,2016-09-01T07:14:56+03:00,"['Тролль', 'Школьники', 'Обязанности', 'Текст']","Чтобы я не забыла вынести мешок с мусором, м...",41
4,4442428,О новой системе рейтинга в Overwatch,742541,2016-09-01T07:14:45+03:00,"['[моё]', 'Overwatch', 'Рейтинг', 'Наркомания'...",Решил я откаллиброваться на тестовом сервере...,-83

In [16]:
df_prepare.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 663870 entries, 0 to 668257
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         663870 non-null  int64
 1   title      663870 non-null  object
 2   author_id  663870 non-null  int64
 3   date       663870 non-null  object
 4   tags       663870 non-null  object
 5   text       663870 non-null  object
 6   rating     663870 non-null  int64
dtypes: int64(3), object(4)
memory usage: 40.5+ MB

In [17]:
df_prepare["size"] = df_prepare[["text"]].apply(lambda row: len(row["text"]), axis=1)

In [20]:
df_prepare = df_prepare.loc[df_prepare['size'] >= MIN_TEXT_LEN]

In [21]:
df_prepare.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79104 entries, 1 to 668256
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         79104 non-null  int64
 1   title      79104 non-null  object
 2   author_id  79104 non-null  int64
 3   date       79104 non-null  object
 4   tags       79104 non-null  object
 5   text       79104 non-null  object
 6   rating     79104 non-null  int64
 7   size       79104 non-null  int64
dtypes: int64(4), object(4)
memory usage: 5.4+ MB

In [22]:
df_prepare["text_stem"] = df_prepare[["text"]].apply(lambda row: stem(row["text"]), axis=1)

In [24]:
df_prepare["title_stem"] = df_prepare[["title"]].apply(lambda row: stem(row["title"]), axis=1)

In [46]:
df_prepare["timestamp"] = df_prepare[["date"]].apply(lambda row: dt.datetime.strptime(row["date"], '%Y-%m-%dT%H:%M:%S%z').timestamp(), axis=1)

In [47]:
df_prepare.head()

,id,title,author_id,date,tags,text,rating,size,text_stem,title_stem,timestamp
1,4442433,Манифест читателя (Как читать классическую лит...,1413157,2016-09-01T07:19:33+03:00,"['Не мое', 'Чтение', 'Книги', 'Литература', 'Д...","\nПисатель и критик соотносятся так же, как ...",0,7148,"Писател критик соотнос же, астрон астролог. Ка...",Манифест читател (Как чита классическ литературу),1.472704e+09
2,4442430,"Призываются айтишники и сисадмины, а так же вс...",220928,2016-09-01T07:15:17+03:00,"['Компьютер', 'Компьютерщики', 'Компьютерное ж...","Привет всем пикабушникам, этим холодным 1-се...",0,2838,"Привет всем пикабушникам, эт холодн 1-сентябрь...","Призыва айтишник сисадмины, ког заинтересует...",1.472703e+09
5,4442427,Советы 30-ти летнего 20-ти летним. Как заполуч...,557156,2016-09-01T07:12:35+03:00,"['[моё]', 'Советы 30-летнего', 'Френдзона', 'О...",\nА она идеальна! От щиколоток до кончиков р...,255,5744,А идеальна! От щиколоток кончик ресниц. Есть н...,Совет 30-ти летн 20-ти летним. Как заполуч дев...,1.472703e+09
6,4442425,"Вышли сало, здравствуй мама!",756425,2016-09-01T07:08:24+03:00,"['[моё]', 'Китай', 'Таможня', 'Деньги', 'Истор...",\nПродолжаю истории про моего друга.Естестве...,0,6360,Продолжа истор мо друга.Естествен ег лица:Давн...,"Вышл сало, здравств мама!",1.472703e+09
11,3140766,История не то про глупость не то про доброту.....,612458,2015-03-05T22:23:18+03:00,"['История', 'Деньги', 'Сложный выбор', 'Текст'...","История не то, чтобы юмористическая, но посм...",0,4795,"Истор то, юмористическая, посмея пар мест наве...",Истор глупост доброту... Реша сами.,1.425583e+09

In [51]:
df_final = df_prepare[["id", "author_id", "timestamp", "tags", "title_stem", "text_stem"]]

In [52]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79104 entries, 1 to 668256
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          79104 non-null  int64
 1   author_id   79104 non-null  int64
 2   timestamp   79104 non-null  float64
 3   tags        79104 non-null  object
 4   title_stem  79104 non-null  object
 5   text_stem   79104 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 4.2+ MB

In [49]:
df_prepare.to_csv(RESULT_CSV)